{% extends 'base.html' %}

{% block title %}
  Menu
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}


    {% if messages %}
      <ul>
	{% for message in messages %}
	  <li>{{ message }}</li>
	{% endfor %}
      </ul>
    {% endif %}

    <h1> Welcome {{ user.username }}</h1>


    <a href="/menu/mycart/{{user.id}}">View cart</a>

    <!-- <form method="get" action="">
	 <button type="submit">View cart</button>
	 </form> -->

    <h2> Menu </h2>
    <ul>
      {% for topping in toppings %}
	<li>
	  {{ topping }}
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    Qty:
	    <input type="number" min="1" max="5">
	    <button type="submit">Add Item</button>
	  </form>

	</li>
      {% endfor %}
    </ul>

    <ul>
      {% for topping in toppings %}
	<li>
	  {{ topping }}
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    Qty:
	    <input type="number" min="1" max="5">
	    <button type="submit">Add Item</button>
	  </form>

	</li>
      {% endfor %}
    </ul>

    <ul>
      {% for topping in toppings %}
	<li>
	  {{ topping }}
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    Qty:
	    <input type="number" min="1" max="5">
	    <button type="submit">Add Item</button>
	  </form>

	</li>
      {% endfor %}
    </ul>

    <ul>
      {% for topping in toppings %}
	<li>
	  {{ topping }}
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    Qty:
	    <input type="number" min="1" max="5">
	    <button type="submit">Add Item</button>
	  </form>

	</li>
      {% endfor %}
    </ul>

    <ul>
      {% for topping in toppings %}
	<li>
	  {{ topping }}
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    Qty:
	    <input type="number" min="1" max="5">
	    <button type="submit">Add Item</button>
	  </form>

	</li>
      {% endfor %}
    </ul>




  {% else %}
    <p>You are not logged in ! You should not be able to see this</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}


{% endblock %}
