{% extends 'base.html' %}

{% block title %}
  Menu
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}


    {% if messages %}
      <ul>
	{% for message in messages %}
	  <li>{{ message }}</li>
	{% endfor %}
      </ul>
    {% endif %}

    <h1> Welcome {{ user.username }}</h1>
    <p><a href="{% url 'logout' %}">logout</a></p>

    <a href="/menu/mycart">View cart</a>

    <h1> Menu </h1>

    <h2> Toppings </h2>
    <ul>
      {% for topping in toppings %}
	<li>
	  {{ topping }}
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    Qty:
	    <input type="number" min="1" max="5">
	    <button type="submit">Add Item</button>
	  </form>

	</li>
      {% endfor %}
    </ul>

    <h2> Pizzas </h2>

    <ul>
      {% for pizza in pizzas %}
	<li>
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    <label name="{{ pizza.price }}">Price: {{ pizza.price }}$ </label>
	    <p>Size: {{ pizza.pizza_size }}; Type: {{ pizza.pizza_type  }}</p>


	    <button type="submit" name='pizza' value={{ pizza.id }}>Add item to basket</button>
	    <!-- <input type="number" name="pizza-qty" min="1" max="5"> -->
	  </form>
      {% endfor %}
	</li>

    </ul>

    <h2> Subs </h2>

    <ul>
      {% for sub in subs %}
	<li>
	  <form method="post" action="{% url 'menu' %}">
	    {% csrf_token %}
	    <p>{{ sub.name }}, {{ sub.get_subs_size_display }}  .....  {{ sub.price }}$
	      <button type="submit" name='sub' value={{ sub.id }}>Add item to basket</button>
	    </p>
	  </form>
      {% endfor %}
	</li>

    </ul>

    {% comment  %}


      <h2> Pizzas </h2>

      <ul>
	{% for pizza in pizzas %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <label name="{{ pizza.price }}">Price: {{ pizza.price }}$ </label>
	      <p>Size: {{ pizza.pizza_size }}; Type: {{ pizza.pizza_type  }}</p>


	      <button type="submit" name='pizza' value={{ pizza.id }}>Add item to basket</button>
	      <!-- <input type="number" name="pizza-qty" min="1" max="5"> -->
	    </form>
	{% endfor %}
	  </li>

      </ul>

      <h2> Pizzas </h2>

      <ul>
	{% for pizza in pizzas %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <label name="{{ pizza.price }}">Price: {{ pizza.price }}$ </label>
	      <p>Size: {{ pizza.pizza_size }}; Type: {{ pizza.pizza_type  }}</p>


	      <button type="submit" name='pizza' value={{ pizza.id }}>Add item to basket</button>
	      <!-- <input type="number" name="pizza-qty" min="1" max="5"> -->
	    </form>
	{% endfor %}
	  </li>

      </ul>

      <h2> Pizzas </h2>

      <ul>
	{% for pizza in pizzas %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <label name="{{ pizza.price }}">Price: {{ pizza.price }}$ </label>
	      <p>Size: {{ pizza.pizza_size }}; Type: {{ pizza.pizza_type  }}</p>


	      <button type="submit" name='pizza' value={{ pizza.id }}>Add item to basket</button>
	      <!-- <input type="number" name="pizza-qty" min="1" max="5"> -->
	    </form>
	{% endfor %}
	  </li>

      </ul>





    {% endcomment %}


  {% else %}
    <p>You are not logged in ! You should not be able to see this</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}


{% endblock %}
