{% extends 'base.html' %}

{% block title %}
  Menu
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}


    {% if messages %}
      <ul>
	{% for message in messages %}
	  <li>{{ message }}</li>
	{% endfor %}
      </ul>
    {% endif %}

    <h1> Welcome {{ user.username }}</h1>

    <a href="{% url 'logout' %}">logout</a>
    <br>
    <br>
    <a href="{% url 'orders' %}">view orders</a>
    <br>
    <br>
    <a href="/menu/mycart">View cart</a>

    <h1> Menu </h1>

    <ul>

      <h2> Toppings </h2>

      <ul>
	{% for topping in toppings %}

	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <p>{{ topping.name }}</p>
	    </form>
	  </li>
	{% endfor %}
      </ul>

      <h2> Pizzas </h2>

      <ul>
	{% for pizza in pizzas %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <p>{{ pizza.pizza_type }}, Size: {{ pizza.pizza_size }}  .....  {{ pizza.price }}$
		<button type="submit" name='pizza' value={{ pizza.id }}>Add item to basket</button>
	      </p>
	    </form>
	  </li>
	{% endfor %}
      </ul>

      <h2> Subs </h2>

      <ul>
	{% for sub in subs %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <p>{{ sub.name }}, {{ sub.get_subs_size_display }}  .....  {{ sub.price }}$
		<button type="submit" name='sub' value={{ sub.id }}>Add item to basket</button>
	      </p>
	    </form>
	  </li>
	{% endfor %}
      </ul>

      <h2> Pastas </h2>

      <ul>
	{% for pasta in pastas %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <p>{{ pasta.name }}  .....  {{ pasta.price }}$
		<button type="submit" name='pasta' value={{ pasta.id }}>Add item to basket</button>
	      </p>
	    </form>
	  </li>
	{% endfor %}
      </ul>

      <h2> Salads </h2>

      <ul>
	{% for salad in salads %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <p>{{ salad.name }}  .....  {{ salad.price }}$
		<button type="submit" name='salad' value={{ salad.id }}>Add item to basket</button>
	      </p>
	    </form>
	  </li>
	{% endfor %}

      </ul>

      <h2> Dinners </h2>

      <ul>
	{% for dinner in dinners %}
	  <li>
	    <form method="post" action="{% url 'menu' %}">
	      {% csrf_token %}
	      <p>{{ dinner.name }}, {{ dinner.get_subs_size_display }}  .....  {{ dinner.price }}$
		<button type="submit" name='dinner' value={{ dinner.id }}>Add item to basket</button>
	      </p>
	    </form>
	  </li>
	{% endfor %}
      </ul>

    </ul>

  {% else %}
    <p>You are not logged in ! You should not be able to see this</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}


{% endblock %}
